In [2]:
import pandas as pd

data = pd.read_csv('kc_house_data.csv')

In [4]:
print(data.head())

                                                  id  date  price  bedrooms  \
0  7129300520,"20141013T000000",221900,3,1,1180,5...   NaN    NaN       NaN
1  6414100192,"20141209T000000",538000,3,2.25,257...   NaN    NaN       NaN
2  5631500400,"20150225T000000",180000,2,1,770,10...   NaN    NaN       NaN
3  2487200875,"20141209T000000",604000,4,3,1960,5...   NaN    NaN       NaN
4  1954400510,"20150218T000000",510000,3,2,1680,8...   NaN    NaN       NaN

   bathrooms  sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0        NaN          NaN       NaN     NaN         NaN   NaN  ...    NaN
1        NaN          NaN       NaN     NaN         NaN   NaN  ...    NaN
2        NaN          NaN       NaN     NaN         NaN   NaN  ...    NaN
3        NaN          NaN       NaN     NaN         NaN   NaN  ...    NaN
4        NaN          NaN       NaN     NaN         NaN   NaN  ...    NaN

   sqft_above  sqft_basement  yr_built  yr_renovated  zipcode  lat  long  \
0         NaN            NaN       NaN           NaN      NaN  NaN   NaN
1         NaN            NaN       NaN           NaN      NaN  NaN   NaN
2         NaN            NaN       NaN           NaN      NaN  NaN   NaN
3         NaN            NaN       NaN           NaN      NaN  NaN   NaN
4         NaN            NaN       NaN           NaN      NaN  NaN   NaN

   sqft_living15  sqft_lot15
0            NaN         NaN
1            NaN         NaN
2            NaN         NaN
3            NaN         NaN
4            NaN         NaN

[5 rows x 21 columns]

In [5]:
print(data.dtypes)

id                object
date             float64
price            float64
bedrooms         float64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition        float64
grade            float64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated     float64
zipcode          float64
lat              float64
long             float64
sqft_living15    float64
sqft_lot15       float64
dtype: object

In [6]:
print(data.isnull().sum())

id                   0
date             21613
price            21613
bedrooms         21613
bathrooms        21613
sqft_living      21613
sqft_lot         21613
floors           21613
waterfront       21613
view             21613
condition        21613
grade            21613
sqft_above       21613
sqft_basement    21613
yr_built         21613
yr_renovated     21613
zipcode          21613
lat              21613
long             21613
sqft_living15    21613
sqft_lot15       21613
dtype: int64

In [7]:
print(data.describe())

       date  price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
count   0.0    0.0       0.0        0.0          0.0       0.0     0.0
mean    NaN    NaN       NaN        NaN          NaN       NaN     NaN
std     NaN    NaN       NaN        NaN          NaN       NaN     NaN
min     NaN    NaN       NaN        NaN          NaN       NaN     NaN
25%     NaN    NaN       NaN        NaN          NaN       NaN     NaN
50%     NaN    NaN       NaN        NaN          NaN       NaN     NaN
75%     NaN    NaN       NaN        NaN          NaN       NaN     NaN
max     NaN    NaN       NaN        NaN          NaN       NaN     NaN

       waterfront  view  condition  grade  sqft_above  sqft_basement  \
count         0.0   0.0        0.0    0.0         0.0            0.0
mean          NaN   NaN        NaN    NaN         NaN            NaN
std           NaN   NaN        NaN    NaN         NaN            NaN
min           NaN   NaN        NaN    NaN         NaN            NaN
25%           NaN   NaN        NaN    NaN         NaN            NaN
50%           NaN   NaN        NaN    NaN         NaN            NaN
75%           NaN   NaN        NaN    NaN         NaN            NaN
max           NaN   NaN        NaN    NaN         NaN            NaN

       yr_built  yr_renovated  zipcode  lat  long  sqft_living15  sqft_lot15
count       0.0           0.0      0.0  0.0   0.0            0.0         0.0
mean        NaN           NaN      NaN  NaN   NaN            NaN         NaN
std         NaN           NaN      NaN  NaN   NaN            NaN         NaN
min         NaN           NaN      NaN  NaN   NaN            NaN         NaN
25%         NaN           NaN      NaN  NaN   NaN            NaN         NaN
50%         NaN           NaN      NaN  NaN   NaN            NaN         NaN
75%         NaN           NaN      NaN  NaN   NaN            NaN         NaN
max         NaN           NaN      NaN  NaN   NaN            NaN         NaN

In [8]:
print(data['price'].min(), data['price'].max())

nan nan

In [16]:
print(data['sqft_living15'].sum() / data['sqft_lot15'].sum())

nan

C:\Users\andrj\AppData\Local\Temp\ipykernel_6848\1606349006.py:1: RuntimeWarning: invalid value encountered in scalar divide
  print(data['sqft_living15'].sum() / data['sqft_lot15'].sum())

In [10]:
print(data['floors'].nunique())

0

In [11]:
print(data['condition'].mean())

nan

In [12]:
print(data['yr_built'].min(), data['yr_built'].max())

nan nan

In [13]:
client_data = data[(data['waterfront'] == 1) & (data['bathrooms'] >= 3) & (data['sqft_basement'] > 0)]
print(len(client_data))

0

In [14]:
client_data = data[((data['view'] >= 4) | (data['waterfront'] == 1)) & (data['yr_built'] >= 1980) & (data['condition'] >= 4)]
print(client_data['price'].min(), client_data['price'].max())

nan nan

In [15]:
client_data = data[(data['floors'] == 2) & (data['price'] <= 150000) & (data['sqft_basement'] == 0)]
print(client_data['condition'].mean())

nan